$white: #fff;
$light-white: #f8f4f5;
$light-gray: #edf1f4;

$round-corner: 8px;

$green: #33825b;
$light-green: #44ae72;
$yellow: #fac84a;
$orange: #de8652;
$BB3038: #bb3038;
$RR8b0000: #8b0000;
$light-red: #f70039;
$dark-red: #8b0000;
$black: #000;
